
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("Checkout")">
    <h3>
        Checkout
    </h3>
    <input type="submit" value="submit" class="btn btn-sm btn-gradient-success"/>
</form>

