
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("Checkout")">
    <h3>
        Checkout
    </h3>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input class="form-control" type="number" value="1000000" name="amount" id="amount"/>
    </div>
    <input type="submit" value="submit" class="btn btn-sm btn-gradient-success"/>
</form>

