OneTech/OneTech.csproj
OneTech/bin/OneTech.dll
OneTech/bin/OneTech.dll.config
OneTech/bin/OneTech.pdb
OneTech/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OneTech/obj/Debug/OneTech.csproj.FileListAbsolute.txt
OneTech/obj/Debug/OneTech.csprojAssemblyReference.cache
OneTech/obj/Debug/OneTech.dll
OneTech/obj/Debug/OneTech.pdb
OneTech/packages.config
.vs/