<div class="alert alert-warning alert-dismissible fade show col-12 mb-5" role="alert">
    <strong>Cart Empty!</strong> You should add product in before confirm checkout.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
