@model Flora_Queen_Project.Models.Product

<img src="@Model.ImgUrl" alt="banner images">
<div class="text">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h6>save up to <br> <strong>40%</strong>off</h6>
</div>
