@{
    ViewBag.Title = "List";
}

@section header_class
{oth-page}
@section logo_head_class
{col-md-6 col-sm-5 col-6}
@* ReSharper disable Html.IdNotResolved *@

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shop Grid</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="@Url.Action("Index","Home")">Home</a>
                        <span class="brd-separetor">/</span>
                        <a href="@Url.Action("Index","Shop")" class="breadcrumb_item active">Shop</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                @Html.Partial("_ShopSidebar")
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <div class="shop__list nav justify-content-center" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i class="fa fa-list"></i></a>
                            </div>
                            <p>Showing 1–12 of 40 results</p>
                            <div class="orderby__wrapper">
                                <span>Sort By</span>
                                <select class="shot__byselect">
                                    <option>Default sorting</option>
                                    <option>HeadPhone</option>
                                    <option>Furniture</option>
                                    <option>Jewellery</option>
                                    <option>Handmade</option>
                                    <option>Kids</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row">
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860475/images/ImagePlaceHolder/books/1_ce72gl.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/2_bs5zd6.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center">
                                    <h4><a href="#/">robin parrish</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$35.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/3_qjsoqd.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/4_pead1n.jpg" alt="product image"></a>
                                    <div class="hot__box color--2">
                                        <span class="hot-label">HOT</span>
                                    </div>
                                </div>
                                <div class="product__content content--center">
                                    <h4><a href="#/">The Remaining</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$35.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/7_z7uufd.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/8_d8xr31.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">HOT</span>
                                    </div>
                                </div>
                                <div class="product__content content--center">
                                    <h4><a href="#/">Lando</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$35.00</li>
                                        <li class="old_prize">$50.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/9_w6ym2d.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860475/images/ImagePlaceHolder/books/10_ym2trs.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">HOT</span>
                                    </div>
                                </div>
                                <div class="product__content content--center">
                                    <h4><a href="#/">Doctor Wldo</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$35.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/11_wekldg.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/2_bs5zd6.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">Animals Life</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860475/images/ImagePlaceHolder/books/1_ce72gl.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/6_djwe9i.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">Olio Madu</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/3_qjsoqd.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/8_d8xr31.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">Soad Humber</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860475/images/ImagePlaceHolder/books/10_ym2trs.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/2_bs5zd6.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">Animals Life</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/7_z7uufd.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/3_qjsoqd.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">Olio Madu</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860475/images/ImagePlaceHolder/books/1_ce72gl.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/5_un8fa7.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">War Of Dragon</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/9_w6ym2d.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/4_pead1n.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">New World</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860476/images/ImagePlaceHolder/books/5_un8fa7.jpg" alt="product image"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860477/images/ImagePlaceHolder/books/8_d8xr31.jpg" alt="product image"></a>
                                    <div class="hot__box">
                                        <span class="hot-label">BEST SELLER</span>
                                    </div>
                                </div>
                                <div class="product__content content--center content--center">
                                    <h4><a href="#/">Our World</a></h4>
                                    <ul class="prize d-flex">
                                        <li>$50.00</li>
                                        <li class="old_prize">$35.00</li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                        <ul class="wn__pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="shop-grid tab-pane fade" id="nav-list" role="tabpanel">
                        <div class="list__view__wrapper">
                            <!-- Start Single Product -->
                            <div class="list__view">
                                <div class="thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860468/images/ImagePlaceHolder/product/1_ikq16t.jpg" alt="product images"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860470/images/ImagePlaceHolder/product/2_gdovpw.jpg" alt="product images"></a>
                                </div>
                                <div class="content">
                                    <h2><a href="#/">Ali Smith</a></h2>
                                    <ul class="rating d-flex">
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <ul class="prize__box">
                                        <li>$111.00</li>
                                        <li class="old__prize">$220.00</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                    <ul class="cart__action d-flex">
                                        <li class="cart"><a href="#/">Add to cart</a></li>
                                        <li class="wishlist"><a href="#/"></a></li>
                                        <li class="compare"><a href="#/"></a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="list__view mt--40">
                                <div class="thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860470/images/ImagePlaceHolder/product/2_gdovpw.jpg" alt="product images"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860469/images/ImagePlaceHolder/product/4_labqen.jpg" alt="product images"></a>
                                </div>
                                <div class="content">
                                    <h2><a href="#/">Blood In Water</a></h2>
                                    <ul class="rating d-flex">
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <ul class="prize__box">
                                        <li>$111.00</li>
                                        <li class="old__prize">$220.00</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                    <ul class="cart__action d-flex">
                                        <li class="cart"><a href="#/">Add to cart</a></li>
                                        <li class="wishlist"><a href="#/"></a></li>
                                        <li class="compare"><a href="#/"></a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="list__view mt--40">
                                <div class="thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860469/images/ImagePlaceHolder/product/3_ewc8fy.jpg" alt="product images"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860470/images/ImagePlaceHolder/product/6_qxvlza.jpg" alt="product images"></a>
                                </div>
                                <div class="content">
                                    <h2><a href="#/">Madeness Overated</a></h2>
                                    <ul class="rating d-flex">
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <ul class="prize__box">
                                        <li>$111.00</li>
                                        <li class="old__prize">$220.00</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                    <ul class="cart__action d-flex">
                                        <li class="cart"><a href="#/">Add to cart</a></li>
                                        <li class="wishlist"><a href="#/"></a></li>
                                        <li class="compare"><a href="#/"></a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="list__view mt--40">
                                <div class="thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860469/images/ImagePlaceHolder/product/4_labqen.jpg" alt="product images"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860470/images/ImagePlaceHolder/product/6_qxvlza.jpg" alt="product images"></a>
                                </div>
                                <div class="content">
                                    <h2><a href="#/">Watching You</a></h2>
                                    <ul class="rating d-flex">
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <ul class="prize__box">
                                        <li>$111.00</li>
                                        <li class="old__prize">$220.00</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                    <ul class="cart__action d-flex">
                                        <li class="cart"><a href="#/">Add to cart</a></li>
                                        <li class="wishlist"><a href="#/"></a></li>
                                        <li class="compare"><a href="#/"></a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="list__view mt--40">
                                <div class="thumb">
                                    <a class="first__img" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860469/images/ImagePlaceHolder/product/5_q1cad9.jpg" alt="product images"></a>
                                    <a class="second__img animation1" href="#/"><img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574860470/images/ImagePlaceHolder/product/9_h15yd7.jpg" alt="product images"></a>
                                </div>
                                <div class="content">
                                    <h2><a href="#/">Court Wings Run</a></h2>
                                    <ul class="rating d-flex">
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <ul class="prize__box">
                                        <li>$111.00</li>
                                        <li class="old__prize">$220.00</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                    <ul class="cart__action d-flex">
                                        <li class="cart"><a href="#/">Add to cart</a></li>
                                        <li class="wishlist"><a href="#/"></a></li>
                                        <li class="compare"><a href="#/"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->