@model IEnumerable<Flora_Queen_Project.Models.Occasion>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a class="occasion-click" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)
                <span>
                    @Html.DisplayFor(modelItem => item.Products.Count)
                </span>
            </a>
        </li>
    }
</ul>
