@model IEnumerable<Flora_Queen_Project.Models.Color>

    <ul class="item item03">
        <li class="title">BOUQUEST COLOR</li>
        @* ReSharper disable once Html.IdNotResolved *@
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index","Shop")?color=@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></li>
        }
    </ul>
