
@{
    ViewBag.Title = "Index";
}

    <div class="ht__bradcaump__area bg-image--4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Payment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-about about_area bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title--3 text-center pb--30">
                        <h2>Your Cart</h2>
                    </div>
                </div>
            </div>
            <div class="cart-table-area section-padding-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mx-auto col-lg-10">
                            <div class="cart-table clearfix">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="cart_product_img">
                                                <img src="https://res.cloudinary.com/leduc911/image/upload/v1578991663/floraqueen/Type/Rose/Queen_of_Hearts_20_Red_Roses_ipgzw9.png" height="180" width="180">
                                            </td>
                                            <td class="cart_product_desc">
                                                <h5>Queen of Hearts 20 Red Roses</h5>
                                            </td>
                                            <td class="price">
                                                <span>100000</span>
                                            </td>
                                            <td class="qty">
                                                <div class="qty-btn d-flex">
                                                    <div class="quantity">
                                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                        <input type="number" class="text-center" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart_product_img">
                                                <img src="https://res.cloudinary.com/leduc911/image/upload/v1578991663/floraqueen/Type/Rose/Love_Actually_12_Red_and_Pink_Roses_ybqi9s.png" height="180" width="180">
                                            </td>
                                            <td class="cart_product_desc">
                                                <h5>Love Actually 12 Red and Pink Roses</h5>
                                            </td>
                                            <td class="price">
                                                <span>100000</span>
                                            </td>
                                            <td class="qty">
                                                <div class="qty-btn d-flex">
                                                    <div class="quantity">
                                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                        <input type="number" class="text-center" id="qty2" step="1" min="1" max="300" name="quantity" value="1">
                                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart_product_img">
                                                <img src="https://res.cloudinary.com/leduc911/image/upload/v1578882994/floraqueen/New%20Baby/Cotton_Candy-Gerberas_and_Carnations_atjmm3.png" height="180" width="180">
                                            </td>
                                            <td class="cart_product_desc">
                                                <h5>Cotton Candy-Gerberas and Carnations </h5>
                                            </td>
                                            <td class="price">
                                                <span>100000</span>
                                            </td>
                                            <td class="qty">
                                                <div class="qty-btn d-flex">
                                                    <div class="quantity">
                                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty3'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                        <input type="number" class="text-center" id="qty3" step="1" min="1" max="300" name="quantity" value="1">
                                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty3'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mx-auto">
                            <div class="cart-summary">
                                <h5>Cart Total</h5>
                                <ul class="summary-table">
                                    <li><span>subtotal:</span> <span>300000 VND</span></li>
                                    <li><span>delivery:</span> <span>Free</span></li>
                                    <li><span>total:</span> <span>300000 VND</span></li>
                                </ul>
                                <div class="cart-btn mt-100">
                                    <a href="#" class="btn btn-dark">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>